*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  height: 900px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.title {
  color: #ffffff;
  font-family: "Oswald", "sans-serif";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}
.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0px 30px;
  width: 1140px;
}
.content__accent {
  color: #545050;
}
.content__video-card-title {
  color: #fff;
  margin-left: 4px;
  font-family: "Oswald", "sans-serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  margin-left: 4px;
}
.search-form__fieldset-title {
  color: #fff;

  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2px;
}

.search-form__textfield {
  background-color: #1b1919;
  color: rgba(255, 255, 255, 0.7);
  width: 225px;
  min-height: 27px;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  appearance: none;
  outline: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}
.search-form__fieldset {
  color: #fff;
  width: 100%;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.content__card-link {
  display: block;
  text-decoration: none;
}
.content__card-link_current {
  background-color: #545050;
}

.content__details {
  display: flex;
  width: 399px;
  gap: 26px;
  flex-direction: column;
}

.content__list {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  height: 298px;
  position: relative;
  gap: 29px;
  margin-bottom: 10px;
}
.content__list-item {
  box-sizing: border-box;
}

.content__list::-webkit-scrollbar {
  width: 1px;
  background-color: #f9f9fd;
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #18aaaa;
}

.content__list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #f9f9fd;
}

.result {
  margin-top: 64px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.result__video-container {
  height: 400px;
  width: 711px;
  position: relative;
}
.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 17px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  width: fit-content;
  gap: 14px;
}

.search-form__textfield:hover {
  cursor: text;
  text-decoration: none;
}
.search-form__textfield:active {
  text-decoration: none;
  background: #545050;
}
.search-form__pseudo-checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: #1b1919;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.button {
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 399px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
  background-color: #1b1919;
}

.button:active {
  text-decoration: none;
  background: #545050;
}
.button:focus {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.search-form__fieldset {
  color: #fff;
  width: 100%;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.search-form__submit-button {
  cursor: pointer;
  margin-top: 17px;
  width: 192px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.more-button {
  position: sticky;
}

.content__video-card:hover {
  text-decoration: underline;
  color: #fff;
}
.content__video-card:active {
  text-decoration: none;
  background: #545050;
}
.content__video-card:focus {
  outline: none;
}
.content__video-card:focus-visible {
  outline: 1px solid #fff;
  background: #545050;
}
